ion-toolbar {
	--background: transparent;
	--ion-color-base: transparent !important;
}

.bg-image {
	background: url('../../assets/air-balloon.jpg') no-repeat center center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

ion-list {
	--ion-item-background: transparent;
	margin-top: 170px;
	ion-item {
		background: white;
		border-radius: 25px;
		margin-top: 8px;
	}
}

page-login {
	.no-scroll .scroll-content {
		overflow: hidden;
	}
}
