<ion-content padding>
  <div class="bg-image"></div>
  <ion-list lines="none">
    <ion-text color="none" text-center>
      <h5>Welcome</h5>
    </ion-text>
    <ion-item>
      <!-- <ion-label position="floating">Username</ion-label> -->
      <ion-input
        color="light"
        type="text"
        placeholder="Username"
        required="true"
        clearInput
        value=""
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="floating">Password</ion-label> -->
      <ion-input
        color="light"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        clearInput
        value=""
      ></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Password</ion-label> -->
      <ion-input
        color="light"
        type="password"
        placeholder="Confirm Password"
        [(ngModel)]="cpassword"
        clearInput
        value=""
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    fill="solid"
    shape="round"
    expand="block"
    color="light"
    (click)="register()"
  >
    <ion-ripple-effect></ion-ripple-effect> Register</ion-button
  >
</ion-content>
