.bg-image {
  background: url("../../assets/glass-raindrops.jpg") no-repeat center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ion-list {
  --ion-item-background: transparent;
  margin-top: 250px;

  ion-text {
    h5 {
      font-weight: bold;
      font-size: 230%;
      margin-bottom: 80px;
      color: white;
    }
  }

  ion-item {
    background: transparent;
    border-radius: 25px;
    margin-top: 8px;
    --highlight-color-focused: white;
    --highlight-color-invalid: rgb(255, 0, 0);
    --highlight-color-valid: green;
  }
}

page-login {
  .no-scroll .scroll-content {
    overflow: hidden;
  }
}
